<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>730110776932-p0ieb4jmjuhnttif4sde8r0jpovvpnj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730110776932-p0ieb4jmjuhnttif4sde8r0jpovvpnj2</string>
	<key>API_KEY</key>
	<string>AIzaSyBqOYFPtMfjE2j5M-kIO9Vom5i0Fu90128</string>
	<key>GCM_SENDER_ID</key>
	<string>730110776932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanjayshah.ItsFree</string>
	<key>PROJECT_ID</key>
	<string>itsfree-fce29</string>
	<key>STORAGE_BUCKET</key>
	<string>itsfree-fce29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730110776932:ios:4f05299f3f004472</string>
	<key>DATABASE_URL</key>
	<string>https://itsfree-fce29.firebaseio.com</string>
</dict>
</plist>